/* Navigation Tabs */
.nav-tabs {
  border-bottom: 0 solid transparent;

  &.above-grid {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid $gray-light;
  }

  &.above-settings {
    margin-left: 0.625rem;
    margin-bottom: -1px;
  }

  .nav-link {
    color: $gray-dark;
    padding: 0 0 1rem;
    margin-right: 1.5rem;
    border: 0;
    border-radius: 0;
    &.active {
      color: $black;
      background-color: transparent;
      border-bottom: 2px solid $black;
    }

    // Adjust tab size for mobile devices
    @include media-breakpoint-down(md) {
      padding: 0 0 0.5rem;
      margin-right: 1rem;
    }
  }

  /* Vertical Navigation Tabs */
  &.nav-vertical {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    background: $white;
    border: 1px solid $gray-light;
    border-radius: 3px;
    .nav-link {
      padding: 0.5rem 1rem;
      margin-right: 0;

      &.active {
        border-left: 2px solid $black;
        border-bottom: 0;
      }
    }
  }
}
